body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(6rem, auto) repeat(5, 4rem);
  gap: 1px;
  background-color: rgba(191, 191, 191, 0.5);
  width: calc(24rem + 4px);
  margin: 0 auto;
  border: 2px solid black;
}

.output {
  grid-column: 1 / span 4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.current-output {
  font-size: 3rem;
}

.button-ac {
  grid-column: 1 / span 2;
}

.button-eq {
  grid-column: 3 / span 2;
}

.calculator>button {
  background-color: rgba(250, 250, 249, 0.5);
}

.calculator>button:hover {
  background-color: #B5B5B5;
}